.head-areas {
  padding-top: 30px;
  border-top: 1px solid #00000033;
  /* margin-top: 20px; */
}
.head-areas .breadcrumb {
  text-align: right;
  font-size: 16px;
  background-color: #fff;
  padding: 0;
}
.head-areas .breadcrumb span a {
  color: #000;
}
.head-areas .areas-landing {
  width: 100vw;
  height: 320px;
  position: relative;
  margin-bottom: 30px;
}
.head-areas .areas-landing .img1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.head-areas .areas-landing .img2 {
  position: absolute;
  top: 0%;
  right: 12%;
  width: 350px;
}
.head-areas .main-section {
  margin: 20px 0;
  text-align: right;
}

.head-areas .main-section h2 {
  font-size: 24px;
  margin: 0 0 10px;
  color: #000;
  font-weight: 700;
}

.head-areas .main-section p {
  font-size: 16px;
  color: #666;
  margin: 0;
}
.select-tabs {
  position: relative;
  display: inline-block;
}
.select-tabs select {
  padding: 10px 35px 10px 10px;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  appearance: none; /* Remove default arrow */
  background-color: white;
  outline: none;
  width: 150px;
}
.arrow {
  position: absolute;
  right: 8px;
  top: 55%;
  transform: translateY(-50%);
  pointer-events: none;
}
.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tabs-sec .tab {
  background: #fff;
  border: 1px solid #707070;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 25px;
  font-size: 14px;
  outline: none;
}

.tabs-sec .tab.active {
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
  outline: none;
}

.tabs-sec .tab-panel {
  display: none;
}

.tabs-sec .tab-panel.active {
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 10px;
}
.grid .card {
  flex: 1;
  background-color: #fff;
  margin: 0 10px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  border: 2px solid #f7f7f7;
  position: relative;
  color: #000;
}
.grid .card svg {
  position: absolute;
  top: 5px;
  right: 5px;
}
.grid .card p {
  font-size: 16px;
  margin: 0;
  font-weight: 400;
}

.grid .card span {
  display: block;
  font-size: 14px;
  color: #969696;
  margin-top: 5px;
}
.grid .card button {
  padding: 5px;
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
  width: 150px;
}
.page-numbers svg {
  rotate: 180deg;
  width: 7px;
}
.pagination {
  display: flex;
  justify-content: left;
  margin-top: 20px;
}

/* .page {
  margin: 0 5px;
  padding: 5px 12px;
  background: #fff;
  border: 1px solid #00000033;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  outline: none;
}
.page:first-child,
.page:last-child {
  border: none;
  outline: none;
}
.page.active {
  background: var(--mainColor);
  color: white;
  border: none;
  outline: none;
  user-select: none;
} */

.section-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
  height: 550px;
  max-width: 100%;
  background-color: #fff;
}

.section-layout .images-container {
  flex: 1;
  position: relative;
  width: 45%;
}
.section-layout .images-container .inner-img {
  position: absolute;
  top: 50%;
  right: -60px;
  width: 390px;
  height: 250px;
  border-radius: 25px;
}
.section-layout .images-container .inner-img .image2 {
  width: 100%;
  border-radius: 25px;
  border: 10px solid #fff;
  height: 100%;
  object-fit: cover;
}
.section-layout .images-container .image1 {
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  height: 400px;
  object-fit: cover;
}

.section-layout .text-container {
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding-right: 20px;
  position: relative;
  height: 100%;
  padding-top: 66px;
}

.section-layout .text-container::before {
  content: "";
  width: 0.5px;
  background-color: #000000;
  height: 365px;
  margin-right: 10px;
  top: 0;
  right: -10px;
}

.outer-circle,
.outer-circle2,
.outer-circle3,
.outer-circle4 {
  width: 20px;
  height: 20px;
  border: 0.5px solid #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
}
.outer-circle {
  top: 0;
}
.outer-circle2 {
  top: 13.5%;
}
.outer-circle3 {
}
.outer-circle4 {
  top: 76%;
}
.inner-dot {
  width: 10px;
  height: 10px;
  background-color: var(--mainColor);
  border-radius: 50%;
}

.text-content {
  flex: 1;
  width: 45%;
}
.text-content h3 {
  position: relative;
  font-weight: 700;
}

.article-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #000;
}

.content-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-list li {
  margin-bottom: 20px;
}

.content-list .subtitle {
  font-size: 20px;
  margin-bottom: 5px;
  color: #000;
}

.content-list p {
  font-size: 16px;
  color: #000;
  line-height: 1.6;
}
@media (max-width: 767px) {
  .head-areas .areas-landing .img2 {
    top: 35%;
    right: 4%;
    width: 200px;
  }
  .tabs {
    flex-wrap: wrap;
    gap: 5px;
  }
  .section-layout {
    flex-direction: column-reverse;
    gap: 100px;
    height: auto;
    margin-top: 15px;
  }
  .section-layout .text-container,
  .section-layout .images-container {
    width: 100%;
  }
  .section-layout .images-container {
    display: flex;
    justify-content: left;
  }
  .section-layout .images-container .image1 {
    width: 80%;
    height: 300px;
  }
  .section-layout .images-container .inner-img {
    top: 50%;
    right: -6px;
    width: 300px;
    height: 240px;
  }
  .outer-circle3 {
    top: 43%;
  }
  .outer-circle4 {
    top: 72.5%;
  }
  .text-container::before {
    height: 366px;
  }
  .tabs-sec .tab {
    width: 50%;
  }
}
