/* ul.social li{
    margin-right: 15px;
} */
body {
  direction: rtl;
}
.breadcrumb-item {
  float: right;
}
.page-item:first-child .page-link {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.page-item:last-child .page-link {
  border-start-end-radius: 0;
  border-bottom-right-radius: 0;
}
.nav-menu {
  left: inherit !important;
  right: -100% !important;
}
.nav-menu.active {
  right: 0 !important;
  left: inherit !important;
  top: 4em;
}
.sidenav .overlay {
  right: 0;
}
.sidenav .overlay .closebtn {
  right: 45px;
}
.sidenav .nav-icon {
  float: right;
  margin-right: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav .overlay .closebtn {
    left: 35px;
  }
}

.top-header ul.contact-info li svg {
  margin-left: 5px;
}
.top-header ul li {
  float: right;
  margin-left: 20px;
}
.home-intro .content {
  text-align: right;
  float: right;
}
.home-intro .content img {
  margin-left: 30px;
}
.hotline .btn svg {
  margin-left: 5px;
}
.branches .row:nth-child(even) {
  direction: ltr;
  text-align: right;
}
.branches .row:nth-child(even) .content {
  direction: rtl;
}
.branches .branch-info li svg {
  margin-left: 5px;
}
.archive-products .product:nth-child(even) {
  direction: ltr;
  text-align: right;
}
.archive-products .product:nth-child(odd) .info {
  padding-right: 80px !important;
}
.archive-products .product:nth-child(even) .info {
  padding-left: 80px !important;
  direction: rtl;
}
.archive-products .product:nth-child(odd) figure {
  border-right: 0;
}
.archive-products .product:nth-child(even) figure {
  border-left: 0;
}
/************* Responsive *************/
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 640px) {
}
@media (max-width: 480px) {
}
@media (max-width: 360px) {
}
/************* Responsive *************/
.fixed-icons {
  left: inherit !important;
  right: 15px;
}
.btn {
  left: 50px !important;
  right: inherit !important;
}
@media (max-width: 768px) {
  .btn {
    left: inherit !important;
    right: 13%;
  }
}
@media (max-width: 640px) {
  .btn {
    left: inherit !important;
    right: 13%;
  }
}
@media (max-width: 480px) {
  .btn {
    left: inherit !important;
    right: 13%;
  }
}
@media (max-width: 360px) {
  .btn {
    left: inherit !important;
    right: 13%;
  }
}
.contact-content .image-container .offical-img {
  border-start-end-radius: 0;
  border-start-start-radius: 170px;
}
.mySwiper .swiper-button-prev,
.swiper1 .swiper-button-prev,
.swiper2 .swiper-button-prev,
.swiper3 .swiper-button-prev,
.swiper4 .swiper-button-prev,
.swiper5 .swiper-button-prev,
.swiper6 .swiper-button-prev,
.swiper7 .swiper-button-prev {
  left: 96% !important;
  right: inherit !important;
}
.mySwiper .swiper-button-next,
.swiper1 .swiper-button-next,
.swiper2 .swiper-button-next,
.swiper3 .swiper-button-next,
.swiper4 .swiper-button-next,
.swiper5 .swiper-button-next,
.swiper6 .swiper-button-next,
.swiper7 .swiper-button-next {
  left: 92% !important;
  right: inherit !important;
}
.swiper6 .swiper-button-next {
  left: 92% !important;
  right: inherit !important;
}
.mySwiper .swiper-pagination,
.swiper1 .swiper-pagination,
.swiper2 .swiper-pagination,
.swiper3 .swiper-pagination:not(.swiper-in .swiper-pagination),
.swiper4 .swiper-pagination,
.swiper5 .swiper-pagination:not(.swiper-in .swiper-pagination),
.swiper6 .swiper-pagination,
.swiper7 .swiper-pagination {
  left: 1% !important;
  right: inherit !important;
}
.areas-button svg,
.projects-button svg,
.properties-button svg,
.motaoron-button svg,
.services-button svg,
.factorys-button svg,
.articles-button svg {
  transform: rotate(360deg) !important;
}
.swiper7 .swiper-button-prev svg,
.swiper7 .swiper-button-next svg {
  transform: rotate(180deg) !important;
}
@media (max-width: 768px) {
  .mySwiper .swiper-button-prev,
  .swiper1 .swiper-button-prev,
  .swiper2 .swiper-button-prev,
  .swiper3 .swiper-button-prev,
  .swiper4 .swiper-button-prev,
  .swiper5 .swiper-button-prev,
  .swiper6 .swiper-button-prev,
  .swiper7 .swiper-button-prev {
    left: 83% !important;
    right: inherit !important;
  }
  .mySwiper .swiper-button-next,
  .swiper1 .swiper-button-next,
  .swiper2 .swiper-button-next,
  .swiper3 .swiper-button-next,
  .swiper4 .swiper-button-next,
  .swiper5 .swiper-button-next,
  .swiper6 .swiper-button-next,
  .swiper7 .swiper-button-next {
    left: 75% !important;
    right: inherit !important;
  }
  .search-container .search-icon {
    left: 75px !important;
    right: inherit !important;
  }
}
@media (max-width: 480px) {
  .mySwiper .swiper-button-next,
  .swiper1 .swiper-button-next,
  .swiper2 .swiper-button-next,
  .swiper3 .swiper-button-next,
  .swiper4 .swiper-button-next,
  .swiper5 .swiper-button-next,
  .swiper6 .swiper-button-next,
  .swiper7 .swiper-button-prev {
    left: 72% !important;
    right: inherit !important;
  }
}
@media (max-width: 360px) {
  .mySwiper .swiper-button-next,
  .swiper1 .swiper-button-next,
  .swiper2 .swiper-button-next,
  .swiper3 .swiper-button-next,
  .swiper4 .swiper-button-next,
  .swiper5 .swiper-button-next,
  .swiper6 .swiper-button-next,
  .swiper7 .swiper-button-next {
    left: 72% !important;
    right: inherit !important;
  }
}
.confirm {
  margin-bottom: 10px;
}
#popupZoom img,
#PopupZoomOpety img {
  left: 20px;
  right: inherit !important;
}
.search-form svg:not(.bar) {
  right: 92% !important;
  left: inherit !important;
}
.services::after {
  left: 30%;
  right: inherit !important;
}
#mobile {
  direction: rtl !important;
}
.page-numbers svg {
  rotate: 360deg !important;
}
